shopping/node_modules
customers/node_modules
products/node_modules

shopping/.env
shopping/.env.dev
customers/.env
customers/.env.dev
products/.env
products/.env.dev

MicroService.code-workspace
# docker-compose.yaml